.nav-bar {
	height: 42px;
	width: 100%;
	position: fixed;
	/*z-index: 1;*/
	top: 42px;
	background-color: rgb(57, 57, 57);
	overflow: hidden;
	padding-bottom: 0%;
	line-height: 42px;
	/*padding-top: 20px;
	/*text-align: center;*/
}

@media screen and (max-width: 800px) {
	.nav-bar {
		visibility: hidden;
	}
}

.nav-bar a {
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 6px 16px 6px 16px;
	text-decoration: none;
	color: azure;
	font-size: 26px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-variant: small-caps;
	font-weight: 700;
	/*display: ;*/
}

.nav-bar a:hover {
	background-color: whitesmoke;
	color: rgb(57, 57, 57);
}

.nav-bar a:active {
	background-color: darkgray;
	color: rgb(57, 57, 57);
}

.communication {
}

#back-btn {
	padding: 10px 32px 8px 20px;
	font-size: 22px;
	background-color: darkgray;
	color: rgb(57, 57, 57);
}

#back-btn:hover {
	background-color: rgb(57, 57, 57);
	color: azure;
}

#back-btn:active {
	background-color: darkgray;
	color: rgb(57, 57, 57);
}